<p id="service-submit-form-errors" class="error" hx-swap-oob="true">
{% if err_svc %}
  {% if err %}
    <span>Unable to add service "<i>{{err_svc}}</i>", please try again later.</span>
  {% else %}
    <span>
      Service "<i>{{err_svc}}</i>" has been taken.
    </span>
  {% endif %}
{% else %}
  {# placeholder text to keep same amount of space allocated in DOM #}
  <span class="invisible">N/A</span>
{% endif %}
</p>
