{% extends 'layout.jinja' %}
{% block subtitle %}Login{% endblock %}

{% block content %}

<div class="prominent-form-wrapper">
  <div class="prominent-form">
    <a hx-boost="false" href="{{ url_abspath_for('login_redirect') }}">Log in via Keycloak</a>
  </div>
</div>
{% endblock %}
