<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{% block subtitle %}{% endblock %} ~ Intersect Registry</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta name="htmx-config" content='{"inlineStyleNonce":"{{nonce}}","allowEval":false,"allowScriptTags":false}'>
  <link nonce="{{nonce}}" rel="icon" type="image/png" href="{{ url_for('static', path='/favicon.png') }}" />
  <meta name="theme-color" content="#000000" />
  <link nonce="{{nonce}}" rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}" />
  {# to test the application without HTMX, AKA 'no javascript', just comment out the script #}
  <script defer nonce="{{nonce}}" src="{{ url_for('static', path='/js/htmx-2.0.4.min.js') }}"></script>
</head>

<body hx-boost="true">
  <header>
    <h1>INTERSECT Registry Service</h1>
    {% block logout %}{% endblock %}
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <span>
      <a href="https://intersect-python-sdk.readthedocs.io/en/latest/">Read the INTERSECT-SDK docs</a>
      <a href="https://github.com/INTERSECT-SDK/registry-service">View the source code</a>
    </span>
  </footer>
</body>

</html>