{% extends 'layout.jinja' %}

{% block logout %}
<form action="{{url_abspath_for('logout_request')}}" method="post" class="prominent-form" hx-boost="false">
  <button type="submit">Log Out</button>
</form>
{% endblock %}
